extend basee.pug 

block scripts 
    script(src="/static/script.js")
block style 
    style 
        include ../static/style.css
block content 
    section#introSection 
        div Welcome To The Dance Academy 
        div.small Eat Drink and Dance

    section#missionSection
        h2 Our Mission 
        div.container
            div.card
                h3 Attitude
                div.card-box
                    div.card-img
                        img(src="./static/1.png")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dignissimos.
            div.card
                h3 Beautiful
                div.card-box
                    div.card-img
                        img(src="./static/2.png")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dignissimos.
            div.card
                h3 Creativity
                div.card-box
                    div.card-img
                        img(src="./static/3.png")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dignissimos.
    section#sponsorSection 
        h2 Our Sponsors 
        div#sponsors
            img(src="./static/logo1.png", alt="Sponsor Image").sponsor
            img(src="./static/logo2.png", alt="Sponsor Image").sponsor
            img(src="./static/logo3.png", alt="Sponsor Image").sponsor
            img(src="./static/logo4.png", alt="Sponsor Image", class="sponsor")